@import "variables.css";

header {
	position: sticky;
	top: 0;
	right: 0;
	
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 8svh;
		padding: 0 30px;
		
		#logo {
			color: var(--white);
			font-size: var(--font-s-large);
			font-weight: var(--font-w-bold);
		}

		#nav-list {
			display: flex;
			gap: 20px;

			li {
				transition: ease-in-out 0.3s;
				font-size: var(--font-s-medium);

				&:hover {
					opacity: 0.6;
				}

				a {
					color: var(--white);
				}
			}
		}

		#mobile-button {
			display: none;
		}
	}
}


#login-section {
	width: 100%;
	height: calc(100% - 8vh);
	display: flex;
	justify-content: center;
	align-items: center;
}

#form-box {
  position: relative;
  width: 400px;
  height: 450px;
  background: transparent;
  border: 2px solid var(--white-50);
  border-radius: 20px;
  backdrop-filter: blur(16px);
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: var(--font-s-large);
	font-weight: var(--font-w-bold);
  color: var(--white);
  text-align: center;
}

.inputbox {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid var(--white);
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: var(--white);
  font-size: var(--font-s-small);
  transition: ease 0.3s;
}

input:focus~label,
input:valid~label {
  top: -5px;
}

.inputbox input {
  width: 100%;
  height: 50px;
  background: none;
  border: none;
  outline: none;
  font-size: var(--font-s-small);
  padding: 0 35px 0 5px;
  color: var(--white);
}

.inputbox ion-icon {
  position: absolute;
  right: 8px;
  color: var(--white);
  font-size: 1.2em;
  top: 20px;
}

#forget {
  margin: -15px 0 15px;
  font-size: .9em;
  color: var(--white);
  display: flex;
  justify-content: center;
}

#forget input {
  margin-right: 3px;

}

#forget a {
  color: var(--white);
  text-decoration: none;
  font-weight: var(--font-w-bold)
}

#forget a:hover {
  text-decoration: underline;
}

#log-in {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: var(--white);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: var(--font-s-small);
  font-weight: var(--font-w-bold);
}

#register {
  font-size: .9em;
  color: var(--white);
  text-align: center;
  margin: 25px 0 10px;
}

#register p a {
  text-decoration: none;
  color: var(--white);
  font-weight: var(--font-w-bold);
}

#register p a:hover {
  text-decoration: underline;
}